/*GLOBAL*/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 2% 0 2%;
}

a:focus {
  color: black;
}

a:visited {
  color: black;
}

/*TYPOGRAPHIES*/
h2 {
  font-size: 16px;
  font-weight: 300;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 15px;
  font-weight: 600;
}

h5 {
  font-size: 13px;
  font-weight: 400;
}

button {
  width: 200px;
  height: 50px;
  background-color: #9356DC;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-style: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  box-shadow: 5px 5px 15px #c2c1c1;
  cursor: pointer;
  margin: 8% 0 15% 0 !important;
}
button:hover {
  opacity: 80%;
  box-shadow: 5px 5px 15px #8f8e8e;
}

/*RESPONSIVE_TABLET*/
@media screen and (min-width: 768px) {
  button {
    margin: 8% 0 8% 0 !important;
  }
}
/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {
  button {
    width: 270px;
    height: 60px;
    font-size: 20px !important;
    margin: 4% 0 4% 0 !important;
  }
}
.cardWorking {
  box-shadow: 5px 5px 15px #c7c7c7;
  background-color: whitesmoke;
  width: 100%;
  height: 70px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 25px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.cardWorking ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.cardWorking li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardWorking li:nth-child(1) {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  left: -15px;
}
.cardWorking li:nth-child(2) {
  margin: 0 6% 0 10%;
}
.cardWorking i {
  color: gray;
  font-size: 18px;
}

.cardWorking:hover {
  background-color: #f2eafb;
}
.cardWorking:hover i {
  color: #9356DC;
}

/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {
  .cardWorking {
    width: 100%;
    height: 100%;
    padding: 2% 0 2% 0;
    margin-right: 3%;
  }
  .cardWorking ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-right: 8%;
  }
  .cardWorking ul i {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cardWorking ul li:nth-child(1) {
    height: 35px;
    width: 35px;
  }
}
.cardRestaurant {
  box-shadow: 5px 5px 15px #c7c7c7;
  display: flex;
  justify-content: space-between;
  background-color: white;
  flex-direction: column;
  margin-top: 20px;
  min-width: 320px;
  width: 100%;
  height: auto;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  color: black;
  position: relative;
}
.cardRestaurant a:visited {
  color: black;
}
.cardRestaurant .newCardRestaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #8ddfcb;
  color: #278870;
  font-weight: 600;
  width: 90px;
  height: 35px;
  box-shadow: 5px 5px 15px #c7c7c7;
  box-shadow: #8f8e8e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.titleCardRestaurant {
  display: flex;
  justify-content: space-between;
  padding: 3% 6% 3% 4%;
  line-height: 20px;
}

/*PICTURES*/
.cardRestaurant img {
  object-fit: cover;
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

/*HEART_ICON*/
.heartCard {
  position: relative;
  cursor: pointer;
}

.fa-heart {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 25px;
}

.heartSolid {
  color: transparent;
  opacity: 0;
  transition: all 1500ms ease;
  -webkit-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
  -ms-transition: all 1500ms ease;
  -o-transition: all 1500ms ease;
}

.heartRegular:hover {
  color: transparent;
  opacity: 0;
}

.heartSolid:hover {
  opacity: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*RESPONSIVE_TABLET*/
@media screen and (min-width: 768px) {
  .cardRestaurant h4 {
    font-size: 25px;
  }
  .cardRestaurant h5 {
    font-size: 18px;
  }

  .titleCardRestaurant {
    line-height: 30px;
    padding: 2% 4% 2% 2%;
  }
}
/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {
  .titleCardRestaurant {
    line-height: 35px;
    padding: 2% 4% 2% 4%;
  }

  .cardRestaurant {
    width: 48%;
  }
  .cardRestaurant img {
    height: 280px;
  }
  .cardRestaurant .fa-heart {
    font-size: 30px;
  }
}
/*CARD_BOX*/
.menuCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  font-weight: 700;
  box-shadow: 5px 5px 15px #c2c1c1;
  opacity: 1;
  /*CARD_ANIMATION*/
}
.menuCard .menuTitle {
  width: 75%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 3%;
}
.menuCard .menuTitle h4, .menuCard .menuTitle h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menuCard .menuPrice {
  display: flex;
  align-items: flex-end;
  width: 20px;
  height: 70px;
  font-size: 15px;
  padding-bottom: 4.5%;
}
.menuCard .menuCardHover {
  width: 0px;
  height: 0px;
  font-size: 0px;
}
.menuCard:hover .menuCardHover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 15%;
  height: 100%;
  font-size: 25px;
  color: white;
  background-color: #99E2D0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 2px solid #99E2D0;
  animation-name: slidein;
  animation-duration: 0.2s;
  cursor: pointer;
}
.menuCard:hover .menuCardHover i {
  animation-name: iRotation;
  animation-duration: 0.5s;
}

@keyframes slidein {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}
@keyframes iRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.entryMenu1 {
  animation: menuCard 0.8s ease-in 0.1s;
  -webkit-animation: menuCard 0.8s ease-in 0.1s;
}

.entryMenu2 {
  animation: menuCard 0.8s ease-in 0.12s;
  -webkit-animation: menuCard 0.8s ease-in 0.12s;
}

.entryMenu3 {
  animation: menuCard 0.8s ease-in 0.14s;
  -webkit-animation: menuCard 0.8s ease-in 0.14s;
}

.entryMenu4 {
  animation: menuCard 0.8s ease-in 0.16s;
  -webkit-animation: menuCard 0.8s ease-in 0.16s;
}

.mainMenu1 {
  animation: menuCard 1s ease-in 0.1s;
  -webkit-animation: menuCard 1s ease-in 0.1s;
}

.mainMenu2 {
  animation: menuCard 1s ease-in 0.12s;
  -webkit-animation: menuCard 1s ease-in 0.12s;
}

.mainMenu3 {
  animation: menuCard 1s ease-in 0.14s;
  -webkit-animation: menuCard 1s ease-in 0.14s;
}

.dessertMenu1 {
  animation: menuCard 1.5s ease-in 0.1s;
  -webkit-animation: menuCard 1.5s ease-in 0.1s;
}

.dessertMenu2 {
  animation: menuCard 1.5s ease-in 0.12s;
  -webkit-animation: menuCard 1.5s ease-in 0.12s;
}

.dessertMenu3 {
  animation: menuCard 1.5s ease-in 0.14s;
  -webkit-animation: menuCard 1.5s ease-in 0.14s;
}

@keyframes menuCard {
  from {
    opacity: 0;
    transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    -webkit-transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
.opacityAnim1 {
  animation: opacityCard 0s;
  -webkit-animation: opacityCard 0s;
}

.opacityAnim2 {
  animation: opacityCard 4s;
  -webkit-animation: opacityCard 4s;
}

.opacityAnim3 {
  animation: opacityCard 6s;
  -webkit-animation: opacityCard 6s;
}

@keyframes opacityCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {
  .cardMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
  }

  .menuCard {
    width: 500px;
    margin-right: 4%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  padding-top: 15px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
header li:nth-of-type(1) {
  width: 42%;
  padding-left: 30px;
}
header li:nth-of-type(2) {
  width: 450px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
header i {
  font-size: 20px;
}
header div img {
  object-fit: cover;
  width: 100%;
  height: 270px;
}
header .indexArrow {
  display: none;
}

/*RESPONSIVE_TABLET*/
@media screen and (min-width: 768px) {
  header li:nth-of-type(2) {
    width: 65%;
  }
}
/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {
  header li:nth-of-type(2) {
    width: 65%;
    font-size: 40px;
  }
}
@media screen and (min-width: 1444px) {
  header li:nth-of-type(2) {
    width: 58%;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 8% 0 8% 6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 25px;
  font-weight: 400;
}
footer img {
  height: 20px;
  margin-bottom: 15px;
  filter: invert(1);
}
footer a {
  color: white;
}
footer a:visited {
  color: white;
}
footer i {
  padding-right: 15px;
  font-size: 12px;
}
footer li:nth-of-type(1) {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding-bottom: 10px;
}

/*RESPONSIVE_TABLET*/
@media screen and (min-width: 768px) {
  footer {
    padding: 4% 0 4% 6%;
  }
}
/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {
  footer {
    padding: 3% 0 2% 0;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 15px;
  }
}
/*LOADER*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background: linear-gradient(#9356DC, #FF79DA);
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 2s forwards 0.5s;
  -webkit-animation: disappear 2s forwards 0.5s;
}

.loader p {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
  font-weight: 550;
  color: white;
  padding-bottom: 4%;
}

.boxLoading {
  content: "";
  height: 100px;
  width: 100px;
  border-top: 5px solid #9356DC;
  border-bottom: 5px solid #FF79DA;
  border-right: 5px solid #99E2D0;
  border-left: 5px solid white;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes disappear {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
/*SECTION_INFORMATIONS*/
.sectionGlobal,
.sectionWorking {
  margin-bottom: 10%;
}

.sectionGlobal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: normal;
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
}
.sectionGlobal h1,
.sectionGlobal h2 {
  padding: 0 10% 0 10%;
}
.sectionGlobal h1 {
  font-size: 25px;
  padding-top: 6%;
}

.boxGlobal {
  width: 100%;
}

.boxLocationGlobal {
  background-color: #ebebeb;
}
.boxLocationGlobal ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 4% 0 4% 0;
}
.boxLocationGlobal ul li {
  font-weight: 500;
}
.boxLocationGlobal ul i {
  padding-right: 15px;
}

/*SECTION_FONCTIONNEMENT*/
.sectionWorking {
  padding: 1% 1% 8% 4%;
}

.boxCardWorking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4% 0 4%;
}

/*component card in components/cardWorking*/
/*SECTION_RESTAURANT*/
.sectionRestaurant {
  background-color: whitesmoke;
  padding-bottom: 10%;
}

.boxRestaurant {
  padding: 15% 5% 5% 5%;
}

.boxCardRestaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*component card in components/cardRestaurant*/
/*RESPONSIVE_TABLET*/
@media screen and (min-width: 768px) {
  .sectionGlobal,
.sectionWorking {
    margin-bottom: 5%;
  }

  .boxLocationGlobal ul {
    padding: 3% 0 3% 0;
  }

  .sectionWorking {
    padding: 1% 1% 4% 4%;
  }

  .sectionRestaurant {
    padding-bottom: 5%;
  }

  .boxRestaurant {
    padding: 5%;
  }
}
/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {
  .container {
    padding: 0;
  }

  .sectionGlobal,
.sectionWorking {
    margin-bottom: 2%;
  }

  .sectionGlobal h1 {
    font-size: 35px;
    padding-top: 3%;
  }
  .sectionGlobal h2 {
    font-size: 25px;
  }

  .boxLocationGlobal ul {
    padding: 2% 0 2% 0;
  }

  .sectionWorking {
    padding: 0 0 2% 1%;
  }

  .boxCardWorking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionRestaurant {
    padding-bottom: 2%;
  }

  .boxCardRestaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
  }
}
/*GLOBAL*/
.mainMenu {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4%;
  position: relative;
}
.mainMenu h1 {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
  font-weight: 550;
}

.titleMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: -60px;
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 3% 5% 0 5%;
}
.titleMenu .heartCard {
  right: 20px;
  top: -18px;
}

/*SECTION_MENU*/
.sectionMenu {
  width: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
}
.sectionMenu h2 {
  width: 40px;
  font-size: 18px;
  border-bottom: 4px solid #99E2D0;
  padding: 2% 0 1% 0;
  margin-left: 2%;
}
.sectionMenu .cardMenu {
  margin-top: 5%;
}

/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {
  .mainMenu {
    width: 100%;
    padding: 1%;
    gap: 2%;
  }

  .titleMenu h1 {
    font-size: 35px;
  }
  .titleMenu .fa-heart {
    font-size: 35px;
  }

  .sectionMenu {
    margin-bottom: 0;
  }
  .sectionMenu h2 {
    width: 98%;
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
