@import "base/reset.scss";
@import "base/variables.scss";
@import "components/button.scss";
@import "components/homeCard.scss";

* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 768px;
    background: white;
}