@import "libs/reset.scss";
@import "libs/reset.scss";
@import "libs/functions.scss";
@import "libs/responsive.scss";

$purple: #9356DC;
$pink: #FF79DA;
$green: #99E2D0;

body {
    background:  black;
}

