footer {
    background-color: #353535;
    color: white;
    padding: 8% 0 8% 6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 25px;
    font-weight: 400;

    img {
        height: 20px;
        margin-bottom: 15px;
        filter: invert(1);
    }

    a {
        color: white;
    }

    a:visited {
        color: white;
    }

    i {
        padding-right: 15px;
        font-size: 12px;
    }

    li:nth-of-type(1) {
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        padding-bottom: 10px;
    }
}

/*RESPONSIVE_TABLET*/
@media screen and (min-width: 768px){

    footer {
        padding: 4% 0 4% 6%;
    }

}


/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px){

    footer {
        padding: 3% 0 2% 0;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 15px;
        }
    }
}