/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button {
  background-color: #9356DC;
  width: 200px;
  margin-top: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 20px 5px 20px 5px;
  border-style: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: white;
  font-size: 15px;
  box-shadow: 5px 5px 15px #c2c1c1;
  cursor: pointer;
}

.homeCard {
  background-color: #f2f2f2;
  width: 400px;
  margin-top: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 30px 0 30px 0;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 5px 5px 15px #c2c1c1;
}
.homeCard ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding-right: 50px;
}
.homeCard li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeCard li:nth-child(1) {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: 400;
  position: absolute;
  left: -20px;
}
.homeCard li:nth-child(3) {
  display: flex;
  justify-self: start;
}
.homeCard i {
  color: grey;
  font-size: 25px;
}

.homeCard:hover {
  background-color: #f2eafb;
}
.homeCard:hover i {
  color: #9356DC;
}

.restaurantCard {
  margin-top: 20px;
  width: 320px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 15px #c2c1c1;
  background-color: white;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.restaurantCard img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.restaurantTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  line-height: 25px;
}
.restaurantTitle i {
  font-size: 20px;
  cursor: pointer;
}

.fa-solid {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurantNew {
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  width: 25%;
  padding: 3% 0 3% 0;
  box-shadow: 0 0 10px #c2c1c1;
  border-radius: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 768px;
  background: white;
  margin: 0 auto;
}

h4 {
  font-size: 18px;
  font-weight: 800;
  padding-top: 2px;
}

h5 {
  font-size: 17px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
