button {
    width: 200px;
    background-color: $purple;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 4% 0 4% 0;
    border-style: none;
    background: linear-gradient(to top left, $purple, $pink);
    color: white;
    font-size: 15px;
    box-shadow: 5px 5px 15px #c2c1c1;
    cursor: pointer;
    margin: 8% 0 15% 0!important;

    &:hover {
        opacity: 80%;
        box-shadow: 5px 5px 15px darken($color:$shadow,$amount: 20);
    }
}