
.menuCard {
    @include space-between;
    flex-direction: row;
    align-items: center;
    background-color: lighten($color:$black,$amount:100);
    width: 100%;
    margin-bottom: 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    font-weight: 700;
    box-shadow: 5px 5px 15px #c2c1c1;
 

    &:hover {

        .menuCardHover {
            @include flex;
            margin-left: 50px;
            width: 15%;
            height: 100%;
            font-size: 25px;
            color: white;
            background-color: $green;
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;
            border: 2px solid $green;
            animation-name: menuCardHoverTransform;
            animation-duration: 0.2s;
            padding: 4.9% 0 4.8% 0;
            cursor: pointer;


            i {
                transform: rotate(360deg);
                transition: transform 500ms ease-in-out;
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
}
         
        }

        @keyframes menuCardHoverTransform {

            from {
                width: 0;

            }
            
            50% {
                width: 10%;

            }

            to {

                width: 15%;

            }
        }
            
    }

}


.menuCard1 {
    animation-name: menuCardOpacity, menuCardScale;
    animation-duration: 2s;
    animation-delay: 0s;
}

.menuCard2 {
    animation-name: menuCardOpacity, menuCardScale;
    animation-duration: 2s;
    animation-delay: 0.1s;
}

.menuCard3 {
    animation-name: menuCardOpacity, menuCardScale;
    animation-duration: 2s;
    animation-delay: 0.2s;

}

.menuCard4 {
    animation-name: menuCardOpacity, menuCardScale;
    animation-duration: 2s;
    animation-delay: 0.3s;

}

@keyframes menuCardOpacity {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes menuCardScale {

    from {
        margin-top: 20px;
    }

    50% {
        margin-top: 10px;
    }

    to {
        margin-top: 0px;
    }

}



   .menuTitle {
    width: 75%;
    display: flex;
    flex-direction: column;
        line-height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 3%;
    }

    .menuPrice {
        width: 20px;
        height: 100%;
        padding: 4% 4% 4% 0;
        font-size: 15px;
    }


    .menuCardHover {
        width: 0px;
        height: 0px;
        font-size: 0px;
    }
