
.menuCard {
    @include space-between;
    flex-direction: row;
    background-color: lighten($color:$black,$amount:100);
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    font-weight: 700;
    box-shadow: 5px 5px 15px #c2c1c1;

    
   .menuTitle {
    width: 75%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        line-height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 3%;
    }

    .menuPrice {
        display: flex;
   align-items: flex-end;
        width: 20px;
        height: 70px;
        font-size: 15px;
        padding-bottom: 3%;
    }


    .menuCardHover {
        width: 0px;
        height: 0px;
        font-size: 0px;
    }


    &:hover {

        .menuCardHover {
            @include flex;
            margin-left: 30px;
            width: 15%;
            height: 100%;
            font-size: 25px;
            color: white;
            background-color: $green;
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;
            border: 2px solid $green;
            animation-name: slidein;
            animation-duration: 0.2s;
            cursor: pointer;


            i {
                animation-name: iRotation;
                animation-duration: 0.5s;
            }
         
}
}
}

@keyframes slidein {
from {
    transform: translateX(20px);
    opacity: 0;
}
to {
    transform: translateX(0px);
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
}

@keyframes iRotation {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
        
        


.cardMenu article:nth-of-type(1) {
    animation: menuCard 0.8s ease-in 0.1s;
    -webkit-animation: menuCard 0.8s ease-in 0.1s;
}

.cardMenu article:nth-of-type(2) {
    animation: menuCard 0.8s ease-in 0.12s;
    -webkit-animation: menuCard 0.8s ease-in 0.12s;
}

.cardMenu article:nth-of-type(3) {
    animation: menuCard 0.8s ease-in 0.15s;
    -webkit-animation: menuCard 0.8s ease-in 0.15s;
}

.cardMenu article:nth-of-type(4) {
    animation: menuCard 0.8s ease-in 0.2s;
    -webkit-animation: menuCard 0.8s ease-in 0.2s;
}


@keyframes menuCard {
    from {
        opacity: 0;
        transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        -webkit-transform: translateY(20px);
}

    to {
        opacity: 1;
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        -webkit-transform: translateY(0px);
}
}



