.cardWorking {
    @include shadow;
    background-color: lighten($color:$black,$amount:96);
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 8% 0 8% 0;
    font-size: 16px;
    font-weight: 650;
    margin-top: 30px;
    cursor: pointer;

    ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position : relative;
    }

    li {
        @include flex;
    }

    li:nth-child(1) {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: $purple;
        color: white;
        font-weight: 400;
        font-size: 15px;
        position: absolute;
        left: -20px;
}

    li:nth-child(3) {
        display: flex;
        justify-self: start;
    }

    i {
        color: grey;
        font-size: 18px;
    }

}

.cardWorking:hover {
    background-color: lighten($color: $purple, $amount: 35);

    i {
        color: $purple;
    }
}

