/*CARD_BOX*/

.menuCard {
    @include space-between;
    flex-direction: row;
    background-color: lighten($color:$black, $amount:100);
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    font-weight: 700;
    box-shadow: 5px 5px 15px #c2c1c1;
    opacity: 1;

    .menuTitle {
        width: 75%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 25px;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 3%;

        h4,
        h5 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .menuPrice {
        display: flex;
        align-items: flex-end;
        width: 20px;
        height: 70px;
        font-size: 15px;
        padding-bottom: 4.5%;
    }


    .menuCardHover {
        width: 0px;
        height: 0px;
        font-size: 0px;
    }

    /*CARD_ANIMATION*/

    &:hover {

        .menuCardHover {
            @include flex;
            margin-left: 30px;
            width: 15%;
            height: 100%;
            font-size: 25px;
            color: white;
            background-color: $green;
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;
            border: 2px solid $green;
            animation-name: slidein;
            animation-duration: 0.2s;
            cursor: pointer;


            i {
                animation-name: iRotation;
                animation-duration: 0.5s;
            }

        }
    }
}

@keyframes slidein {
    from {
        transform: translateX(20px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@keyframes iRotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.entryMenu1 {
    animation: menuCard 0.8s ease-in 0.1s;
    -webkit-animation: menuCard 0.8s ease-in 0.1s;
}

.entryMenu2 {
    animation: menuCard 0.8s ease-in 0.12s;
    -webkit-animation: menuCard 0.8s ease-in 0.12s;
}

.entryMenu3 {
    animation: menuCard 0.8s ease-in 0.14s;
    -webkit-animation: menuCard 0.8s ease-in 0.14s;
}

.entryMenu4 {
    animation: menuCard 0.8s ease-in 0.16s;
    -webkit-animation: menuCard 0.8s ease-in 0.16s;
}

.mainMenu1 {
    animation: menuCard 1s ease-in 0.1s;
    -webkit-animation: menuCard 1s ease-in 0.1s;
}

.mainMenu2 {
    animation: menuCard 1s ease-in 0.12s;
    -webkit-animation: menuCard 1s ease-in 0.12s;
}

.mainMenu3 {
    animation: menuCard 1s ease-in 0.14s;
    -webkit-animation: menuCard 1s ease-in 0.14s;
}

.dessertMenu1 {
    animation: menuCard 1.5s ease-in 0.1s;
    -webkit-animation: menuCard 1.5s ease-in 0.1s;
}

.dessertMenu2 {
    animation: menuCard 1.5s ease-in 0.12s;
    -webkit-animation: menuCard 1.5s ease-in 0.12s;
}

.dessertMenu3 {
    animation: menuCard 1.5s ease-in 0.14s;
    -webkit-animation: menuCard 1.5s ease-in 0.14s;
}



@keyframes menuCard {
    from {
        opacity: 0;
        transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        -webkit-transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}

.opacityAnim1 {
    animation: opacityCard 0s;
    -webkit-animation: opacityCard 0s;
}

.opacityAnim2 {
    animation: opacityCard 4s;
    -webkit-animation: opacityCard 4s;
}

.opacityAnim3 {
    animation: opacityCard 6s;
    -webkit-animation: opacityCard 6s;
}

@keyframes opacityCard {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*RESPONSIVE_DESKTOP*/

@media screen and (min-width: 992px) {
    .cardMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 3%;
    }

    .menuCard {
        width: 500px;
        margin-right: 4%;
    }

}