
.menuCard {
background-color: white;
    width: 400px;
    margin-top: 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 5px 5px 15px #c2c1c1;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

   .menuTitle {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-end;
        padding: 3% 4% 3% 4%;
        line-height: 25px;
    }

    .menuPrice {
        display: flex;
        align-items: flex-end;

    }
