* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    max-width: 768px;
    padding-left: 2%;
    padding-right: 2%;
}

h2 {
    font-size: 15px;
    font-weight: 300;
}

h3 {
    font-size: 25px;
}

header {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 30px;
}

