* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    width: 768px;
    padding-left: 100px;
}