
h2 {
  font-size: 15px;
  font-weight: 300;
}

h3 {
  font-size: 25px;
}



h4 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 2px;
  }
  
  h5 {
    font-size: 15px;
    font-weight: 400;
  }
  
