/*LOADER

.loading {
  align-items: center;
  animation: loadingOut 60s;
  -webkit-animation: loadingOut 60s;
  display: flex;
  justify-content: center;

  p {
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    color: white;
    font-weight: 400;
    margin-bottom: 20%;
  }
} 

@keyframes loadingOut {
  0% {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: linear-gradient($purple, $pink);
  }

  100% {
    z-index: -100;
    position: absolute;
  }*/

/*SECTION_INFORMATIONS*/

.sectionGlobal,
.sectionWorking {
  margin-bottom: 10%;
}

.sectionGlobal {

  @include flexCenterColumn;
  white-space: normal;
  text-align: center;
  width: 100%;
  background-color: lighten($color:$black, $amount:96);

  h1,
  h2 {
    padding: 0 10% 0 10%;
  }

  h1 {
    font-size: 25px;
    padding-top: 6%;
  }
}

.boxGlobal {
  width: 100%;
}

.boxLocationGlobal {
  background-color: lighten($color:$black, $amount:92);

  ul {
    @include flex;
    flex-direction: row;
    padding: 4% 0 4% 0;

    li {
      font-weight: 500;
    }

    i {
      padding-right: 15px;
    }
  }
}

/*SECTION_FONCTIONNEMENT*/

.sectionWorking {
  padding: 1% 1% 8% 4%;
}

.boxCardWorking {
  @include flexCenterColumn;
  padding: 0 4% 0 4%;
}

/*component card in components/cardWorking*/


/*SECTION_RESTAURANT*/

.sectionRestaurant {
  background-color: lighten($color:$black, $amount:96);
  padding-bottom: 10%;
}

.boxRestaurant {
  padding: 15% 5% 5% 5%;
}

.boxCardRestaurant {
  @include flexCenterColumn;
}

/*component card in components/cardRestaurant*/



/*RESPONSIVE_TABLET*/
@media screen and (min-width: 768px){

  .sectionGlobal,
.sectionWorking {
  margin-bottom: 5%;
}

.boxLocationGlobal ul {
  padding: 3% 0 3% 0;
}

.sectionWorking {
  padding: 1% 1% 4% 4%;
}

.sectionRestaurant {
  padding-bottom: 5%;
}

.boxRestaurant {
  padding: 5%;
}

}



  /*RESPONSIVE_DESKTOP*/

  @media screen and (min-width: 992px){

    .sectionGlobal,
.sectionWorking {
  margin-bottom: 2%;
}

    .sectionGlobal {
      h1 {
        font-size: 35px;
        padding-top: 3%;
      }

      h2 {
        font-size: 25px;
      }
    }

    .boxLocationGlobal ul {
      padding: 2% 0 2% 0;
    }
    
    .sectionWorking {
      padding: 0 0 2% 1%;
    }

    .boxCardWorking {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .sectionRestaurant {
      padding-bottom: 2%;
    }

    .boxCardRestaurant {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2%;

    }

  }