.sectionGlobal,
.sectionWorking {
    margin-bottom: 10%;
}

.sectionGlobal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding-bottom: 30px;
    white-space: normal;
    text-align: center;

    h1, h2 {
        padding: 0 40px 0 40px;
    }

    h1 {
        font-size: 25px;
    }
}

.boxLocationGlobal {
    background-color: #eaeaea;
    width: 100%;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 3% 0 3% 0;

        li {
            font-weight: 500;
        }

        i {
            padding-right: 15px;
        }
    }
}

.sectionWorking {
    padding: 1% 1% 1% 4%;
}

.boxCardWorking {
display: flex;
flex-direction: column;
padding-left: 4%;
padding-right: 4%;
}


.sectionRestaurant {
    background-color: #eaeaea;
}

.boxRestaurant {
    padding: 15% 5% 5% 5%;
}

.boxCardRestaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




