/*LOADER
.loader {
  @include flexCenterColumn;
  position: fixed;
  background: linear-gradient($purple, $pink);
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: disappear 10s forwards 3s;
  -webkit-animation: disappear 10s forwards 3s;
}

.loader p {
  font-size: 25px;
  font-family: 'Shrikhand', cursive;
  font-weight: 550;
  color: white;
  padding-bottom: 4%;
}


.boxLoading {
  content: "";
  height: 100px;
  width: 100px;
  border-top: 5px solid $purple;
  border-bottom: 5px solid $pink;
  border-right: 5px solid $green;
  border-left: 5px solid white;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}


@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
*/

/*SECTION_INFORMATIONS*/
.sectionGlobal,
.sectionWorking {
  margin-bottom: 10%;
}

.sectionGlobal {

  @include flexCenterColumn;
  white-space: normal;
  text-align: center;
  width: 100%;
  background-color: lighten($color:$black, $amount:96);

  h1,
  h2 {
    padding: 0 10% 0 10%;
  }

  h1 {
    font-size: 25px;
    padding-top: 6%;
  }
}

.boxGlobal {
  width: 100%;
}

.boxLocationGlobal {
  background-color: lighten($color:$black, $amount:92);

  ul {
    @include flex;
    flex-direction: row;
    padding: 4% 0 4% 0;

    li {
      font-weight: 500;
    }

    i {
      padding-right: 15px;
    }
  }
}

/*SECTION_FONCTIONNEMENT*/
.sectionWorking {
  padding: 1% 1% 8% 4%;
}

.boxCardWorking {
  @include flexCenterColumn;
  padding: 0 4% 0 4%;
}

/*component card in components/cardWorking*/

/*SECTION_RESTAURANT*/
.sectionRestaurant {
  background-color: lighten($color:$black, $amount:96);
  padding-bottom: 10%;
}

.boxRestaurant {
  padding: 15% 5% 5% 5%;
}

.boxCardRestaurant {
  @include flexCenterColumn;
}

/*component card in components/cardRestaurant*/

/*RESPONSIVE_TABLET*/
@media screen and (min-width: 768px) {

  .sectionGlobal,
  .sectionWorking {
    margin-bottom: 5%;
  }

  .boxLocationGlobal ul {
    padding: 3% 0 3% 0;
  }

  .sectionWorking {
    padding: 1% 1% 4% 4%;
  }

  .sectionRestaurant {
    padding-bottom: 5%;
  }

  .boxRestaurant {
    padding: 5%;
  }

}

/*RESPONSIVE_DESKTOP*/
@media screen and (min-width: 992px) {

  .container {
    padding: 0;
  }

  .sectionGlobal,
  .sectionWorking {
    margin-bottom: 2%;
  }

  .sectionGlobal {
    h1 {
      font-size: 35px;
      padding-top: 3%;
    }

    h2 {
      font-size: 25px;
    }
  }

  .boxLocationGlobal ul {
    padding: 2% 0 2% 0;
  }

  .sectionWorking {
    padding: 0 0 2% 1%;
  }

  .boxCardWorking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sectionRestaurant {
    padding-bottom: 2%;
  }

  .boxCardRestaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;

  }

}