/*GLOBAL*/

.mainMenu {
    background-color: $background;
    width: 100%;
    @include flex;
    flex-direction: column;
    padding: 4%;
    position: relative;

    h1 {
        font-size: 25px;
        font-family: 'Shrikhand', cursive;
        font-weight: 550;
    }
}


.titleMenu {
    @include space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: -60px;
    background-color: $background;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 3% 5% 0 5%;

    .heartCard {
        right: 20px;
        top: -18px;
    }
}

/*SECTION_MENU*/

.sectionMenu {
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;

    h2 {
        width: 40px;
        font-size: 18px;
        border-bottom: 4px solid $green;
        padding: 2% 0 1% 0;
        margin-left: 2%;
    }

    .cardMenu {
        margin-top: 5%;
    }
}

  /*RESPONSIVE_DESKTOP*/

  @media screen and (min-width: 992px){

    .mainMenu {
        padding: 1%;
    }
    .titleMenu {
        h1 {
            font-size: 35px;
        }
        .fa-heart {
            font-size: 35px;
        }
    }

    .sectionMenu {
        margin-bottom: 0;

        h2 {
            width: 98%;
            font-size: 25px;
        }
  }
}