.mainMenu {
    background-color: $background;
    width: 100%;
    @include flex;
    flex-direction: column;
    padding: 4%;
    position: relative;

    h1 {
        font-size: 30px;
        font-family: 'Shrikhand', cursive;
        letter-spacing: 1px;
    }
}


.titleMenu {
    @include space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: -70px;
    background-color: $background;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 3% 5% 0 5%;

    .heartCard {
        right: 20px;
        top: -18px;
    }
}

.sectionMenu {
    width: 100%;
    margin-bottom: 3%;

    h2 {
        width: 60px;
        font-size: 18px;
        border-bottom: 4px solid $green;
        padding: 2% 0 1% 0;
        margin-left: 2%;
    }

    .cardMenu {
margin-top: 5%;
    }
}
