@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
}

@mixin shadow {
    box-shadow: 5px 5px 15px lighten($color:$black, $amount:78);
}